/* Instructions:

XThe wrapper width is 1200px with 30px of padding on each side.
XGlobally apply box-sizing:border-box;.

- Prioritize finishing the build over responsiveness.

XThe fonts used are the Google fonts Oswald and Lato
Xfont-family: 'Oswald', sans-serif;
Xfont-family: 'Lato', sans-serif;

Feature area:
XIn the feature area make the running couple a png separate from the
background.
- In the feature area use Slick Slider to make the text rotate out
with a fade, adding buttons to manually switch between slides.
****add jquery****

Procedure section:
- In the procedure section make the procedure cards entirely out of
HTML/CSS using a repeating image for the background gradient. 
***saving time with images for now, come back to it later*****


- In the procedure section give the cards the indicated orange hover state.
*****again come back to it later******


- Create hover states for all buttons and add CSS transitions to all
hover events.


If you have time:

X Make the site responsive. Bootstrap preferred.

- In the feature area use Slick Slider to make the text rotate out
with a fade, adding buttons to manually switch between slides.


Result:

When you are done please save your static files in a zip and send them to us.
 */

 html {
     box-sizing: border-box;
 }

 .wrapper-sizing {
     width: 1200px;
     padding: 0px 30px;
 }

 header, body, footer {
     padding-left: 200px;
     padding-right: 200px;
 }

 .navbar-brand {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     text-transform: uppercase;
     font-family: Oswald;
    font-size: 23px;
    font-weight: 400;
    padding-right: 75px;
 }

 .nav-item {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
 }

 /* .navbar-nav {
     padding-right: 523px;
 } */

 header {
     background-image: url("https://www.dropbox.com/s/bkz4c7l1lff3x9x/bg_top.jpg?raw=1");
     background-repeat: no-repeat;    
     background-position: center;
     background-size: cover; 
    }

h1 {
    font-family: Oswald;
font-size: 50px;
font-weight: 300;
text-transform: uppercase;
}



.bluetext {
    color: #28a2be;
}

aside {
    font-family: Oswald;
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
}

.blackbg {
    font-family: Oswald;
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
background-color: black;
color: white;
}




